# Base de datos neo4j

## Lectura de datos

In [1]:
import pandas as pd

df_dificultades = pd.read_csv("./data/dificultades.csv",encoding='utf-8');
df_encadenamientos = pd.read_csv("./data/tipos_encadenamiento.csv", encoding='utf-8');
df_escaladores = pd.read_csv("./data/escaladores_lite_2017.csv", encoding='utf-8');
df_ascensos = pd.read_csv("./data/ascensos_lite_2017.csv", encoding='utf-8');

## Conexión con neo4j y borrado de BB.DD.

In [2]:
%load_ext cypher

In [3]:
from py2neo import Graph, Node, Relationship

graph = Graph()

In [4]:
# Borrado de todos los nodos y relaciones
graph.delete_all()

## Carga de datos en neo4j

 El modelo de nodos y relaciones que voy a considerar es este:
 
![NODOS y RELACIONES](./img/nodosRelacionesNEO.jpg)

Desnormalizo los datos de ascensos para facilitar la introducción de nodos y relaciones en la base de datos

In [5]:
df_ascensos = pd.merge(df_ascensos, df_encadenamientos, on = ['id_tipo_encadenamiento'], how = 'inner')
df_ascensos = pd.merge(df_ascensos, df_dificultades, on = ['id_dificultad'], how = 'inner');
df_ascensos = pd.merge(df_ascensos, df_escaladores, on = ['id_escalador'], how = 'inner');

# Renombrar campos por claridad (el merge auto-asigna nombres a campos repetidos)
df_ascensos = df_ascensos.rename(
    columns={
        'nombre': 'nombre_escalador',
        'ciudad':'ciudad_escalador',
        'pais_y': 'pais_escalador',
        'comienzo': 'anio_comienzo',
        'pais_x': 'pais_risco'});

In [6]:
df_ascensos.head(2)

,id_escalador,id_dificultad,id_tipo_encadenamiento,nombre_via,risco,sector,fecha,pais_risco,tipo_encadenamiento,grado_frances,nombre_escalador,sexo,fecha_nacimiento,ciudad_escalador,pais_escalador,anio_comienzo
0,20384,33,2,LE DE,FONTAINEBLEAU,ROCHER CANON,2017-04-17,FRA,Flash,5c,Clemens Kurth,Hombre,1982-04-24,Alfeld (Leine),DEU,2003
1,20384,33,2,SCHMALSEITE DV,ELBSANDSTEIN,KRALLENTURM,2017-06-10,DEU,Flash,5c,Clemens Kurth,Hombre,1982-04-24,Alfeld (Leine),DEU,2003

Convierto el data frame de ascensos desnormalizado a JSON para la inserción de información en neo4j

In [7]:
import json
json_string = df_ascensos.to_json(orient = 'records')
json_list = json.loads(json_string)

Iterando en el data frame de ascensos, voy añadiendo los nodos y las relaciones que se generan por cada ascenso:

In [8]:
for index, ascenso_json in enumerate(json_list):
    # Nodos
    escalador = Node("Escalador", id=ascenso_json["id_escalador"],
                                  nombre = ascenso_json["nombre_escalador"],
                                  sexo = ascenso_json["sexo"],
                                  pais = ascenso_json["pais_escalador"],
                                  anio_comienzo = ascenso_json["anio_comienzo"])   
    
    ascenso = Node("Ascenso", nombre=ascenso_json["nombre_via"], 
                              tipo_encadenamiento = ascenso_json["tipo_encadenamiento"],
                              risco = ascenso_json["risco"],
                              pais = ascenso_json["pais_risco"]) 
    
    dificultad = Node("Dificultad", valor = ascenso_json["id_dificultad"], grado_frances = ascenso_json["grado_frances"])

    
  
        
    # Relaciones  
    rel_escalador_ascenso = Relationship(escalador, "REALIZA", ascenso, tipo_encadenamiento = ascenso_json["tipo_encadenamiento"])
    rel_ascenso_dificultad = Relationship(ascenso, "TIENE", dificultad)
    
    graph.merge(escalador|dificultad)
    graph.create(ascenso|rel_ascenso_dificultad|rel_escalador_ascenso)
    
    if index % 500 == 0:
        print index

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500

Además, como voy a tener que hacer calculos de dificultad media, necesito que los todos los nodos dificultad existan, aunque no hayan existido ascensos con esa dificultad. Por ello, los añado siguiendo una estrategia de unicidad (merge) iterando sobre el data frame de dificultades:

In [9]:
import json
json_string = df_dificultades.to_json(orient = 'records')
json_list = json.loads(json_string)

for index, dificultad_json in enumerate(json_list):
    dificultad = Node("Dificultad", valor = dificultad_json["id_dificultad"],
                                    grado_frances = dificultad_json["grado_frances"])
    graph.merge(dificultad)
    
    if index % 10 == 0:
        print index

0
10
20
30
40
50
60
70
80

### Comprobaciones previas ...

Número de escaladores

In [10]:
%%cypher
MATCH (:Escalador)
RETURN count(*)

1 rows affected.

[[4580]]

Número de vías

In [11]:
%%cypher
MATCH (:Ascenso)
RETURN count(*)

1 rows affected.

[[11832]]

Número de riscos

In [12]:
%%cypher
MATCH (:Dificultad)
RETURN count(*)

1 rows affected.

[[86]]

# RESPUESTAS A LAS PREGUNTAS

### 1.a) Los 10 escaladores (hombres) más activos (orden auxiliar por Id)

In [13]:
%%cypher
MATCH (escalador:Escalador)-[:REALIZA]->(ascenso:Ascenso)
WHERE escalador.sexo = "Hombre"
RETURN escalador.id, escalador.nombre, escalador.sexo, escalador.pais, count(ascenso) as numero_ascensos
ORDER BY numero_ascensos DESC, escalador.id DESC
LIMIT 10

10 rows affected.

[[50884, u'Christopher Leonetti', u'Hombre', u'USA', 47],
 [20384, u'Clemens Kurth', u'Hombre', u'DEU', 26],
 [20095, u'Matthias Schuster', u'Hombre', u'DEU', 26],
 [66250, u'Kuba Kaminski', u'Hombre', u'POL', 24],
 [9171, u'Laurenz Trawnicek', u'Hombre', u'AUT', 23],
 [46622, u'Ra\xfal Crespo', u'Hombre', u'ESP', 19],
 [42086, u'Marcin Opozda', u'Hombre', u'POL', 19],
 [66466, u'Christian Boehme', u'Hombre', u'DEU', 18],
 [47732, u'Thomas de Fleurian', u'Hombre', u'FRA', 18],
 [35847, u'Zack Bum', u'Hombre', u'DEU', 18]]

### 1.b) Los 10 escaladoras (mujeres) más activas (orden auxiliar por Id)

In [14]:
%%cypher
MATCH (escalador:Escalador)-[:REALIZA]->(ascenso:Ascenso)
WHERE escalador.sexo = "Mujer"
RETURN escalador.id, escalador.nombre, escalador.pais, count(ascenso) as numero_ascensos
ORDER BY numero_ascensos DESC, escalador.id DESC
LIMIT 10

10 rows affected.

[[65502, u'Ksenia Targosz', u'POL', 13],
 [65069, u'Mania Mania A.', u'POL', 12],
 [65707, u'Ewelina Cienkus', u'POL', 11],
 [54695, u'Elfi Hasler', u'AUT', 11],
 [62354, u'La Shoune', u'FRA', 10],
 [58835, u'Dominika So\u0142tys', u'POL', 10],
 [57447, u'Sue Murphy', u'CAN', 10],
 [53983, u'Daniela B\xe4rtschi', u'CHE', 10],
 [49569, u'Karina Kosiorek', u'POL', 10],
 [32043, u'Reidun M. Romundstad', u'NOR', 10]]

### 2. Lista de los 10 ascensos "On sight" de la escaladora más activa en orden decreciente de dificultad (y por nombre de via ascendete)

In [18]:
%%cypher

MATCH (escalador:Escalador)-[:REALIZA]-(ascenso:Ascenso)
WHERE escalador.sexo = "Mujer"
WITH  escalador, count(ascenso) as numero_ascensos
ORDER BY numero_ascensos DESC, escalador.id DESC
LIMIT 1

MATCH (escalador:Escalador)-[:REALIZA]-(asc:Ascenso)-[:TIENE]-(dif:Dificultad)
WHERE asc.tipo_encadenamiento = 'Onsight'
RETURN asc.nombre, dif.grado_frances, asc.risco, asc.pais
ORDER BY dif.valor DESC, asc.nombre ASC

8 rows affected.

[[u'LEWIZNA', u'5c', u'DOLINA KOBYLANSKA', u'POL'],
 [u'MOJA KOKAINA', u'5c', u'DOLINA KOBYLANSKA', u'POL'],
 [u'RUCHY MASOWE', u'5c', u'DOLINA BEDKOWSKA', u'POL'],
 [u'FISCHER-LAPINSKI', u'5b', u'DOLINA BEDKOWSKA', u'POL'],
 [u'GRZBIET ZUBRA', u'5b', u'SOKOLIKI', u'POL'],
 [u'RYSKOWIEC', u'5b', u'DOLINA BEDKOWSKA', u'POL'],
 [u'ZAG\u0142ADA TRADA', u'4c', u'DOLINA KOBYLANSKA', u'POL'],
 [u'KIKUT', u'4b', u'DOLINA SZKLARKI', u'POL']]

### 3. Dificultad media de los ascensos del escalador más activo

In [20]:
%%cypher

MATCH (escalador:Escalador)-[:REALIZA]-(ascenso:Ascenso)
WHERE escalador.sexo = "Hombre" 
WITH escalador, count(ascenso) as num_ascensos
ORDER BY num_ascensos DESC
LIMIT 1

MATCH (escalador:Escalador)-[:REALIZA]-(:Ascenso)-[:TIENE]-(dif:Dificultad)
WITH round(avg(dif.valor)) as valor_dif_media

MATCH (dif_media:Dificultad {valor : valor_dif_media})
RETURN dif_media.grado_frances

1 rows affected.

[[u'5c+']]

### 4.a) Los 10 ascensos mas dificiles

In [24]:
%%cypher
MATCH (escalador:Escalador)-[:REALIZA]-(ascenso:Ascenso)-[:TIENE]-(dif:Dificultad)
RETURN escalador.nombre,
       escalador.pais,
       ascenso.nombre,
       dif.grado_frances,
       ascenso.tipo_encadenamiento,
       ascenso.risco,
       ascenso.pais
ORDER BY dif.valor DESC
LIMIT 10

10 rows affected.

[[u'Adam Ondra', u'CZE', u'SILENCE', u'9c', u'Redpoint', u'FLATANGER', u'NOR'],
 [u'Stefano Ghisolfi',
  u'ITA',
  u'FIRST ROUND FIRST MINUTE',
  u'9b',
  u'Redpoint',
  u'MARGALEF',
  u'ESP'],
 [u'Adam Ondra',
  u'CZE',
  u'MOVE HARD',
  u'9b',
  u'Redpoint',
  u'FLATANGER',
  u'NOR'],
 [u'Stefano Ghisolfi',
  u'ITA',
  u'ONE PUNCH',
  u'9a+',
  u'Redpoint',
  u'ARCO',
  u'ITA'],
 [u'Stefano Ghisolfi',
  u'ITA',
  u'LA RAMBLA',
  u'9a+',
  u'Redpoint',
  u'SIURANA',
  u'ESP'],
 [u'David Firnenburg',
  u'DEU',
  u'LA RAMBLA',
  u'9a+',
  u'Redpoint',
  u'SIURANA',
  u'ESP'],
 [u'Piotr Schab',
  u'POL',
  u"THOR'S HAMMER",
  u'9a+',
  u'Redpoint',
  u'FLATANGER',
  u'NOR'],
 [u'Stefano Ghisolfi',
  u'ITA',
  u'FIRST LEY',
  u'9a+',
  u'Redpoint',
  u'MARGALEF',
  u'ESP'],
 [u'Evan Hau',
  u'CAN',
  u'HONOUR AND GLORY',
  u'9a+',
  u'Redpoint',
  u'ECHO CANYON',
  u'CAN'],
 [u'Daniel Fuertes',
  u'ESP',
  u'NO PAIN NO GAIN',
  u'9a+',
  u'Redpoint',
  u'RODELLAR',
  u'ESP']]

### 4.b) Los 10 ascensos mas dificiles a vista (On sight)

In [25]:
%%cypher
MATCH (escalador:Escalador)-[:REALIZA]-(ascenso:Ascenso)-[:TIENE]-(dif:Dificultad)
WHERE ascenso.tipo_encadenamiento='Onsight'
RETURN escalador.nombre,
       escalador.pais,
       ascenso.nombre,
       dif.grado_frances,
       ascenso.tipo_encadenamiento,
       ascenso.risco,
       ascenso.pais
ORDER BY dif.valor DESC
LIMIT 10

10 rows affected.

[[u'Stefano Ghisolfi',
  u'ITA',
  u'FISH EYE',
  u'8c',
  u'Onsight',
  u'OLIANA',
  u'ESP'],
 [u'Piotr Schab',
  u'POL',
  u'PEQUENA ESTRELLA',
  u'8b+',
  u'Onsight',
  u'RODELLAR',
  u'ESP'],
 [u'Manu Lopez', u'FRA', u'WHAT', u'8b', u'Onsight', u'LEONIDIO', u'GRC'],
 [u'luis rodriguez martin',
  u'ESP',
  u'BRUJO',
  u'8b',
  u'Onsight',
  u'SADERNES',
  u'ESP'],
 [u'Adam Ondra',
  u'CZE',
  u'MATA HARI',
  u'8a+',
  u'Onsight',
  u'FRANKENJURA',
  u'DEU'],
 [u'Dmitrii Fakirianov',
  u'RUS',
  u"L'ADRECADOR",
  u'8a+',
  u'Onsight',
  u'TERRADETS',
  u'ESP'],
 [u'Michaela Kiersch',
  u'USA',
  u'LA FEMME BLANCHE',
  u'8a+',
  u'Onsight',
  u'C\xe9\xfcSE',
  u'FRA'],
 [u'jose luis palao',
  u'ESP',
  u'TEAM BTR',
  u'8a+',
  u'Onsight',
  u'BIELSA',
  u'ESP'],
 [u'jose luis palao',
  u'ESP',
  u'REALIDAD VIRTUAL',
  u'8a+',
  u'Onsight',
  u'POLORIA',
  u'ESP'],
 [u'Marcin Wszolek',
  u'POL',
  u'NUEVE ZETA',
  u'8a+',
  u'Onsight',
  u'CHULILLA',
  u'ESP']]

### 5.a) Grado medio y maximo de los ascensos en España de los 10 escaladores NO ESPAÑOLES con mas ascensos en España

In [9]:
%%cypher 

MATCH (escalador:Escalador)-[:REALIZA]-(ascenso:Ascenso)-[:TIENE]-(dif:Dificultad)
WHERE escalador.pais <> 'ESP' AND ascenso.pais = 'ESP'
WITH escalador, round(avg(dif.valor)) as dif_valor_medio, max(dif.valor) as dif_valor_max, count(ascenso) as num_ascensos
ORDER BY num_ascensos DESC, escalador.id ASC
LIMIT 10

MATCH (dif_media:Dificultad{valor:dif_valor_medio}), (dif_max:Dificultad{valor:dif_valor_max})
RETURN escalador.nombre, escalador.pais,
       num_ascensos,
       dif_media.grado_frances as grado_medio,
       dif_max.grado_frances as grado_maximo

10 rows affected.

[[u'Nuno Henriques', u'PRT', 14, u'6a+', u'7a'],
 [u'Grzegorz "Bu\u0142a" Golowczyk', u'POL', 9, u'7b+', u'8b+'],
 [u'philipp kieffer', u'DEU', 7, u'6c+/7a', u'7c'],
 [u'Wojtek Pe\u0142ka', u'POL', 7, u'7c+/8a', u'8b'],
 [u'Gon\xe7alo "Gongas" Coutinho', u'PRT', 6, u'5a', u'6a'],
 [u'Tieme van Veen', u'NLD', 6, u'6c+/7a', u'8a'],
 [u'Kuba Pe', u'POL', 6, u'7a', u'7b+'],
 [u'Gabriel Korbiel', u'POL', 6, u'7a+/7b', u'7c'],
 [u'Amber Thornton', u'GBR', 6, u'5c', u'6c'],
 [u'Benjamin Thomas', u'FRA', 6, u'7a', u'7c+']]

### 5.b) Grado medio y maximo de los ascensos en España de los 10 escaladores ESPAÑOLES con mas ascensos en España

In [10]:
%%cypher 

MATCH (escalador:Escalador)-[:REALIZA]-(ascenso:Ascenso)-[:TIENE]-(dif:Dificultad)
WHERE escalador.pais = 'ESP' AND ascenso.pais = 'ESP'
WITH escalador, round(avg(dif.valor)) as dif_valor_medio, max(dif.valor) as dif_valor_max, count(ascenso) as num_ascensos
ORDER BY num_ascensos DESC, escalador.id ASC
LIMIT 10

MATCH (dif_media:Dificultad{valor:dif_valor_medio}), (dif_max:Dificultad{valor:dif_valor_max})
RETURN escalador.nombre, escalador.pais,
       num_ascensos,
       dif_media.grado_frances as grado_medio,
       dif_max.grado_frances as grado_maximo

10 rows affected.

[[u'Ra\xfal Crespo', u'ESP', 18, u'6a+/6b', u'7b'],
 [u'Chaken G\xf3mez conde', u'ESP', 16, u'7c+', u'8b'],
 [u'Adrian Alameda', u'ESP', 14, u'6c+', u'8a+'],
 [u'Alex Garriga', u'ESP', 13, u'7b+/7c', u'8a+'],
 [u'Xavier Gatell Romero', u'ESP', 12, u'7b+', u'8a'],
 [u'jose luis palao', u'ESP', 12, u'8a+/8b', u'8b+'],
 [u'Jose Agust\xed', u'ESP', 10, u'7c+', u'8a'],
 [u'Gonzalo Larrocha', u'ESP', 10, u'8a+/8b', u'9a'],
 [u'Tomata Tomata', u'ESP', 10, u'6c+', u'7a+'],
 [u'luis rodriguez martin', u'ESP', 10, u'8a/+', u'8b+']]

### 6.a) Dificultad media y maxima de los ascensos NO "Top Rope" de los escaladores con menos de 3 años de experiencia

Por desgracia no he encontrado funciones nativas de cypher para el tratamiento de las fechas, y he escrito el año actual hard-coded. Una opcion para ello es el uso de la libreria APOC https://github.com/neo4j-contrib/neo4j-apoc-procedures pero requiere preinstalación...

In [21]:
%%cypher 

MATCH (escalador:Escalador)
WHERE (2017 - escalador.anio_comienzo)>=0 AND
      (2017 - escalador.anio_comienzo)<3
WITH escalador

MATCH (escalador:Escalador)-[:REALIZA]-(ascenso:Ascenso)-[:TIENE]-(dificultad:Dificultad)
WHERE ascenso.tipo_encadenamiento<>'Toprope'
WITH count(ascenso) as num_ascensos, round(avg(dificultad.valor)) as dif_valor_medio, max(dificultad.valor) as dif_valor_max

MATCH (dif_media:Dificultad{valor:dif_valor_medio}), (dif_max:Dificultad{valor:dif_valor_max})
RETURN num_ascensos,
       dif_media.grado_frances as grado_medio,
       dif_max.grado_frances as grado_maximo

1 rows affected.

[[590, u'6a/+', u'8a']]

### 6.b) Dificultad media y maxima de los ascensos NO "Top Rope" de los escaladores con entre 10 y 30 años de experiencia

In [22]:
%%cypher 

MATCH (escalador:Escalador)
WHERE (2017 - escalador.anio_comienzo)>=10 AND
      (2017 - escalador.anio_comienzo)<30
WITH escalador

MATCH (escalador:Escalador)-[:REALIZA]-(ascenso:Ascenso)-[:TIENE]-(dificultad:Dificultad)
WHERE ascenso.tipo_encadenamiento<>'Toprope'
WITH count(ascenso) as num_ascensos, round(avg(dificultad.valor)) as dif_valor_medio, max(dificultad.valor) as dif_valor_max

MATCH (dif_media:Dificultad{valor:dif_valor_medio}), (dif_max:Dificultad{valor:dif_valor_max})
RETURN num_ascensos,
       dif_media.grado_frances as grado_medio,
       dif_max.grado_frances as grado_maximo

1 rows affected.

[[3818, u'7a', u'9c']]

### 7. Los 10 riscos españoles (o zonas) con mas ascensos por orden decreciente de numero de ascensos

In [30]:
%%cypher
MATCH (ascenso:Ascenso)
WHERE ascenso.pais ='ESP'
RETURN ascenso.risco, count(ascenso.risco) as num_ascensos
ORDER BY num_ascensos DESC
LIMIT 10

10 rows affected.

[[u'MARGALEF', 194],
 [u'CUENCA', 148],
 [u'SIURANA', 147],
 [u'ALBARRAC\xedN', 137],
 [u'RODELLAR', 136],
 [u'CHULILLA', 134],
 [u'MALLORCA', 63],
 [u'LA PEDRIZA', 61],
 [u'MONTSERRAT', 58],
 [u'EL CHORRO', 44]]

### 8.a) Los 10 sectores españoles con mayor nivel de difcultad media de ascensos ordenadas por orden decreciente de dificultad y por numero de ascensos decreciente

In [38]:
%%cypher

MATCH (ascenso:Ascenso)-[:TIENE]-(dif:Dificultad)
WHERE ascenso.pais='ESP'
WITH ascenso.risco as nombre_risco, round(avg(dif.valor)) as dif_valor_medio, count(ascenso.risco) as num_ascensos
ORDER BY dif_valor_medio DESC,num_ascensos DESC, ascenso.risco ASC
LIMIT 10

MATCH (dif_media:Dificultad{valor:dif_valor_medio})
RETURN nombre_risco, dif_valor_medio, dif_media.grado_frances as grado_medio, num_ascensos

10 rows affected.

[[u"LA COVA DE L'OCELL", 71.0, u'8c/+', 2],
 [u'POLORIA', 66.0, u'8b', 2],
 [u'FIGOLS', 66.0, u'8b', 1],
 [u'ORIHUELA', 65.0, u'8a+/8b', 2],
 [u'SANTA LINYA', 64.0, u'8a+', 18],
 [u'OLIANA', 64.0, u'8a+', 14],
 [u'FORADA', 64.0, u'8a+', 3],
 [u'LA MUELA', 64.0, u'8a+', 2],
 [u'BALTZOLA', 64.0, u'8a+', 1],
 [u'CACIN', 64.0, u'8a+', 1]]

### 8.b) Las 10 sectores españoles con menor nivel de dificultad medio de ascensos ordenadas por orden creciente de dificultad y por numero de ascensos decreciente

In [39]:
%%cypher

MATCH (ascenso:Ascenso)-[:TIENE]-(dif:Dificultad)
WHERE ascenso.pais='ESP'
WITH ascenso.risco as nombre_risco, round(avg(dif.valor)) as dif_valor_medio, count(ascenso.risco) as num_ascensos
ORDER BY dif_valor_medio ASC,num_ascensos DESC, ascenso.risco ASC
LIMIT 10

MATCH (dif_media:Dificultad{valor:dif_valor_medio})
RETURN nombre_risco, dif_valor_medio, dif_media.grado_frances as grado_medio, num_ascensos

10 rows affected.

[[u'PORTOMARIN', 21.0, u'4a', 2],
 [u'MONT-RAL', 25.0, u'4c', 1],
 [u'OTO', 25.0, u'4c', 1],
 [u'PUERTO ROQUE', 26.0, u'4c+', 3],
 [u'PUEBLA DE GUZMAN', 27.0, u'4+', 5],
 [u'BALNEARIO DE PANTICOSA', 27.0, u'4+', 2],
 [u'SAVASSONA', 29.0, u'5a', 2],
 [u'LA DEHESA DE LA OLIVA', 29.0, u'5a', 1],
 [u'LA PUENTE', 29.0, u'5a', 1],
 [u'MALLORKA', 29.0, u'5a', 1]]